<div style="position:fixed;"><img class="image-chess-board" src="https://www.chess.com/bundles/web/images/offline-play/standardboard.1d6f9426.png" alt="" style="height:93%;"></div>

   
      <div class="background-main">
        <div>
           <div style="margin-top: 1em;"><h1 class="menu-header-title" ><b style="font-size:1.2em ;">Learn Chess</b></h1></div>
           <img class="background-img" src="https://www.chess.com/bundles/web/images/color-icons/lessons.540cfefe.svg"
           alt="lessons">
        </div>
     <div class="rows">
        <div class="space">
           <div class="row">
              <div>
                 <img
                    src="https://www.chess.com/bundles/web/images/color-icons/lessons.540cfefe.svg" alt="lessons">
              </div>
              <div>
                 <div class="title"> <p>Lessons</p></div>
              <div class="content"><p>Learn to play from chess masters</p></div>
                 
              </div>
           </div>
        </div>

     <div class="space">
        <div class="row">
           <div>
              <img
                 src="https://www.chess.com/bundles/web/images/color-icons/idea.d13e9e57.svg" alt="idea">
           </div>
           <div>
              <div class="title"> <p>Insights</p></div>
           <div class="content"><p>Discover trends in your games</p></div>
              
           </div>
        </div>
     </div>

     <div class="space">
        <div class="row">
           <div>
              <img
                 src="https://www.chess.com/bundles/web/images/color-icons/openings.9014f4bd.svg" alt="openings">
           </div>
           <div>
              <div class="title"> <p>Openings</p></div>
           <div class="content"><p>Learn and explore chess openings</p></div>
              
           </div>
        </div>
     </div>  
     <div class="space">
        <div class="row">
           <div>
              <img
                 src="https://www.chess.com/bundles/web/images/color-icons/promote.f5c42568.svg" alt="promote">
           </div>
           <div>
              <div class="title"> <p>Endgames</p></div>
           <div class="content"><p>Improve your endgame play</p></div>
              
           </div>
        </div>
     </div>

     <div class="space">
        <div class="row">
           <div>
              <img
                 src="https://www.chess.com/bundles/web/images/color-icons/practice.48e2f3d1.svg" alt="practice">
           </div>
           <div>
              <div class="title"> <p>Practice</p></div>
           <div class="content"><p>Play from specific positions</p></div>
              
           </div>
        </div>
     </div>

     <div class="space">
        <div class="row">
           <div>
              <img
                 src="https://www.chess.com/bundles/web/images/color-icons/classroom.7c543139.svg" alt="classroom">
           </div>
           <div>
              <div class="title"> <p>Classroom</p></div>
           <div class="content"><p>Get personal live video coaching</p></div>
              
           </div>
        </div>
     </div>

     <div class="space">
        <div class="row">
           <div>
              <img
                 src="https://www.chess.com/bundles/web/images/color-icons/analysis.c72b9bab.svg" alt="analysis">
           </div>
           <div>
              <div class="title"> <p>Analysis</p></div>
           <div class="content"><p>Review games or explore ideas</p></div>
              
           </div>
        </div>
     </div>

     </div>

      
  </div>
      





