p {
    padding: 0;
    margin:0;
    display: contents;
}

.layout{
    background-color: yellow;
}
.frame{
    border-radius: 6px;
    background-color: red;
}
.rows {
    width: 100%;
    .space{
        padding-bottom: 1px;
    }
    float: right;
    margin-top: 1em;
}

.row {
    display: flex;
    background-color: #292623b2;
    padding: 1em 0 1em 3em;
    border-radius: 4px;
    margin-left: 0;
    p {
        color: white;
        font-size: 1em;
        
    }

    img {
        height: 7em;
        margin-left: 0 auto;
    }
    .title{
        font-size: 3em;
        text-align: left;
        margin-left: 0.39em;
        
    }
    .content{
        font-size: 12px;
        margin-left: 10px;
        margin-top: 4px;
    }
   
}


.background-main{
    background-color: #5F5C5B;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
    float: right;
    display: grid;
    text-align: center;
    border-radius: 3px;
    width: 60em;
    height: 100%;
    margin-top: 1em;
    position: fixed;
    bottom: 0;
    right: 0;

    .menu-header-title{
        font-size: 3.1em;
        font-weight: 800;
        line-height: 1;
        margin: 1.2em;
        position: relative;
        z-index: 1;
    } 
 



}

.background-img {
    background-position: 50%;
    background-position-x: 50%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 11em;
    margin: 0 auto;
    position: relative;
    width: 11em;
    z-index: 1;
    margin-top: -3em;
}

.home-sidebar-items {
    grid-row-gap: .4rem;
    display: grid;
    grid-template-columns: minmax(1.2rem, 3.2rem) [main] minmax(27.6rem, 1fr) minmax(1.2rem, 3.2rem);
    padding-bottom: 2.4rem;
}

.direct-menu-item {
    background-color: var(--globalColorNeutral100);
    border-radius: .5rem;
    box-shadow: inset 0 -.1rem 0 0 var(--globalColorNeutral200);
    display: grid;
    gap: 2rem;
    grid-template-columns: 4.8rem 1fr;
    min-height: 8.8rem;
    padding: 2rem;
}

.image-chess-board{
    width: 42%;
    margin-left: 11em;
    position: fixed;
    margin-top: 3em;
  }

