
   
      <div class="background-main">
         <div>
            <div style="margin-top: 13px;"><h1 class="menu-header-title" ><b style="font-size:2rem ;">Play Chess</b></h1></div>
            <img class="background-img" src="https://www.chess.com/bundles/web/images/color-icons/playwhite.9673f38c.svg"
            alt="playwhite">
         </div>
      <div class="rows">
         <div class="space">
            <div class="row">
               <div>
                  <img
                     src="https://www.chess.com/bundles/web/images/color-icons/blitz.a0e36339.svg" alt="blitz">
               </div>
               <div>
                  <div class="title"> <p>Play Online</p></div>
               <div class="content"><p>Play vs a person of similar skill</p></div>
                  
               </div>
            </div>
         </div>

      <div class="space">
         <div class="row">
            <div>
               <img
                  src="https://www.chess.com/bundles/web/images/color-icons/computer.2318c3b4.svg" alt="computer">
            </div>
            <div>
               <div class="title"> <p>Computer</p></div>
            <div class="content"><p>Challenge a bot from Easy to Master</p></div>
               
            </div>
         </div>
      </div>

      <div class="space">
         <div class="row">
            <div>
               <img
                  src="https://www.chess.com/bundles/web/images/color-icons/handshake.fb30f50b.svg" alt="handshake">
            </div>
            <div>
               <div class="title"> <p>Play a Friend</p></div>
            <div class="content"><p>Invite a friend to a game of chess</p></div>
               
            </div>
         </div>
      </div>  
      <div class="space">
         <div class="row">
            <div>
               <img
                  src="https://www.chess.com/bundles/web/images/color-icons/tournaments.6de54f69.svg" alt="dailypuzzle">
            </div>
            <div>
               <div class="title"> <p>Tournaments</p></div>
            <div class="content"><p>Join an Arena where anyone can win</p></div>
               
            </div>
         </div>
      </div>

      <div class="space">
         <div class="row">
            <div>
               <img
                  src="https://www.chess.com/bundles/web/images/color-icons/variants.1a79e732.svg" alt="learning">
            </div>
            <div>
               <div class="title"> <p>Chess Variants</p></div>
            <div class="content"><p>Find fun new ways to play chess</p></div>
               
            </div>
         </div>
      </div>
      </div>
      <div style="display:flex;margin-top:-27px ;">
           <div class="size-text">
               <img class="bonus-icon-1" src="https://www.chess.com/bundles/web/images/color-icons/archive.12613bd6.svg" alt="archive">
               <div class="up-1"><p >Archive</p></div>
           </div>
           
           <div class="size-text">
               <img class="bonus-icon-2" src="https://www.chess.com/bundles/web/images/color-icons/leaderboard.4044c4af.svg" alt="leaderboard">
               <div class="up-2"><p>Leaderboard</p></div>
           </div>
       </div>
       
   </div>
       




