<div class="content-chess-app">
  <div class="row">
    <div class="col-sm">
      <div class="containers">
        <div *ngIf="!this.gameService.isGameStart" class="box-start">
          <div class="bt-start" (click)="startGame()">
            <p>START</p>
          </div>
        </div>

        <div *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7]" class="rows">
          <div
            *ngFor="let j of [0, 1, 2, 3, 4, 5, 6, 7]"
            class="item"
            (drop)="drop($event, board[i][j].position)"
            (dragover)="allowDrop($event)"
          >
            <img
              *ngIf="board[i][j].hasChess"
              src="../../../assets/chess/{{ board[i][j].chess.img }}"
              draggable="true"
              (mousedown)="mousedownImg(board[i][j].chess, $event)"
              (dragstart)="drag($event, board[i][j].chess)"
              class="img-chess"
              id="{{ board[i][j].chess.id }}"
            />
            <div *ngIf="dots[i][j].chess.name == '.'" class="dot"></div>

          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="graps">
    <app-graps></app-graps>
  </div>
</div>
