
.dot {
  width: 2em;
  height: 2em;
  border-radius: 50px;
  background-color: rgb(101, 219, 111);
  position: absolute;
}
.box-start {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.32);
  border-radius: 15px;
  .bt-start {
    cursor: pointer;
    border-radius: 0.5em;
    background-color: #769656;
    padding: 1.5em 3em;
    p {
      color: white;
      padding: 0;
      margin: 0;
      font-size: 2em;
    }
  }
  .bt-start:hover {
    background-color: #79a053;
  }
}

.content-chess-app {
  background-color: #312e2b;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-left: 0;
  padding: 0 10em;
  min-height: 95vh;
  align-items: center;
  .containers {
    width: 80em;
    height: 80em;
    border-radius: 15px;
    background-image: url("../../../assets/chess/150.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .rows {
      display: flex;
      justify-content: center;
      align-items: center;
      .item {
        //padding-right: 25px;
        display: block;
        width: calc(80em / 8);
        height: calc(80em / 8);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .graps {
    border-radius: 15px;
    width: 55em;
    height: 80em;
    margin-top: 0em;
    background-color: rgb(18, 16, 16);
  }
}

.img-chess {
  width: 8em;
  height: 8em;
  background-size: cover;
  object-fit: cover;
  position: relative;
  margin-top: -1em;

}

.clock {
  display: flex;
  justify-content: right;
  margin-left: 4em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
/*===========================*/
.example-card {
  max-width: 400px;
  height: 70px;
  background-color: #312e2b;
}
.example-card-side {
  width: 400px;
  height: 745px;
  background-color: #262421;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
/*===========================*/
.example-viewport {
  height: 200px;
  width: 250px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}
/*==========*/
.scrollbar {
  background-color: rgb(18, 16, 16);
  height: 30em;
  width: 50em;
  margin-left: 2em;
  margin-right: 2em;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 450px;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #2c2929;
}

td,
th {
  border: 1px #b33333;
  text-align: left;
  padding: 8px;
  color: white;
}

tr:nth-child(even) {
  background-color: #312e2b;
}
.Icon {
  font-size: 2em;
}
/*==========*/
@property --percentage {
  initial-value: 100%;
  inherits: false;
  syntax: "<percentage>";
}
.chart {
  background-image: conic-gradient(rgba(64, 46, 46, 0.825) var(--percentage), rgba(255, 255, 255, 0) 0 );
  // background: conic-gradient(red var(--percentage), white 0);
  //border-radius: 50%;
  width: 10em;
  height: 10em;
  //animation: timer ;
  margin: 0;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  padding: 2rem;
}
@keyframes timer {
  to {
    --percentage: 0%;
  }
}

#main {
  width: 100%;
  height: 100%;
  float: left;
  background-color: rgb(170, 105, 105);
}

.turn1{
  background-color: #4343438f;
}
.turn2{
  background-color: #282828a3;
}
