

       <div class="background-main">
          <div>
             <div style="margin-top: 2em;"><h1 class="menu-header-title"><b style="font-size:1.5em ;">Chess Puzzlses</b></h1></div>
             <img class="background-img" src="https://www.chess.com/bundles/web/images/color-icons/puzzles-3d.cb835572.svg"
             alt="Puzzleses">
          </div>
       <div class="rows">
          <div class="space">
             <div class="row">
                <div>
                   <img
                      src="https://www.chess.com/bundles/web/images/color-icons/ratedpuzzles.ec43637a.svg" alt="ratedpuzzles">
                </div>
                <div>
                   <div class="title"> <p>Puzzles</p></div>
                <div class="content"><p>Train with more than 350,000 puzzles</p></div>
                   
                </div>
             </div>
          </div>
 
       <div class="space">
          <div class="row">
             <div>
                <img
                   src="https://www.chess.com/bundles/web/images/color-icons/rush.cdbc7a7b.svg" alt="rush">
             </div>
             <div>
                <div class="title"> <p>Puzzle Rush</p></div>
             <div class="content"><p>Race against the clock. 3 strikes and you're out!</p></div>
                
             </div>
          </div>
       </div>
 
       <div class="space">
          <div class="row">
             <div>
                <img
                   src="https://www.chess.com/bundles/web/images/color-icons/battle.fe78b2eb.svg" alt="battle">
             </div>
             <div>
                <div class="title"> <p>Puzzle Battle</p></div>
             <div class="content"><p>Rush against another player to win</p></div>
                
             </div>
          </div>
       </div>  
       <div class="space">
          <div class="row">
             <div>
                <img
                   src="https://www.chess.com/bundles/web/images/color-icons/dailypuzzle.593f982a.svg" alt="dailypuzzle">
             </div>
             <div>
                <div class="title"> <p>Daily Puzzle</p></div>
             <div class="content"><p>Can you solve today’s puzzle?</p></div>
                
             </div>
          </div>
       </div>
 
       <div class="space">
          <div class="row">
             <div>
                <img
                   src="https://www.chess.com/bundles/web/images/color-icons/learning.539109c4.svg" alt="learning">
             </div>
             <div>
                <div class="title"> <p>Custom</p></div>
             <div class="content"><p>Choose puzzles by theme and rating</p></div>
                
             </div>
          </div>
       </div>
       </div>
    </div> -->
 
 
 <!-- <div style="background-color:red ;">
    Content
 </div>


 <app-play-chess></app-play-chess> -->

 <div style="position:fixed;"><img class="image-chess-board" src="https://www.chess.com/bundles/web/images/offline-play/standardboard.1d6f9426.png" alt="" style="height:93%;"></div>

 <!-- <app-battle-with-computer></app-battle-with-computer> -->
