p {
    padding: 0;
    margin:0;
    display: contents;
}

.layout{
    background-color: yellow;
}
.frame{
    border-radius: 6px;
    background-color: red;
}
.rows {
    width: 96%;
    .space{
        padding-bottom: 1px;
    }
    float: right;
}

.row {
    display: flex;
    background-color: #62605d6b;
    padding: 2em 0 2em 5em;
    border-radius: 2px;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0;

    p {
        color: white;
        font-size: 1em;
        
    }

    img {
        height: 7.5em;
        margin-left: 0 auto;
    }
    .title{
        font-size: 3em;
        text-align: left;
        margin-left: 0.3em;
        
    }
    .content{
        font-size: 2em;
        margin-left: 0.6em;
        margin-top: 1em;
    }
   
}


.background-main{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1;
    float: right;
    display: grid;
    text-align: center;
    border-radius: 3px;
    width: 25em;
    height: 35em;

    .menu-header-title{
        font-size: 3.1em;
        font-weight: 800;
        line-height: 1;
        margin: 0.2em;
        position: relative;
        z-index: 1;
    
    } 
 
    .bonus-icon-1{
        height: 2.8em;
        margin-left: 18em
        
    }

    .bonus-icon-2{
        height: 3em;
        margin-left: 5em;
        
    }

    .size-text{
        text-align: center;
        display: grid;
        font-size: 2em;
        margin-left: -1em;
       
    }

    .up-1{
        font-size: 2em;
        margin-left: 5.4em;
        margin-top: -1.2em;

    }

    .up-2{
        font-size: 0.9em;
        margin-left: 4.8em;
        margin-top: -1.5em;
    }
}

.background-img {
    background-position: 50%;
    background-position-x: 50%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 15em;
    margin: 0 auto;
    position: relative;
    width: 12em;
    z-index: 1;
    margin-top: -1em;
}

.home-sidebar-items {
    grid-row-gap: .4rem;
    display: grid;
    grid-template-columns: minmax(1.2rem, 3.2rem) [main] minmax(27.6rem, 1fr) minmax(1.2rem, 3.2rem);
    padding-bottom: 2.4rem;
}

.direct-menu-item {
    background-color: var(--globalColorNeutral100);
    border-radius: .5rem;
    box-shadow: inset 0 -.1rem 0 0 var(--globalColorNeutral200);
    display: grid;
    gap: 2rem;
    grid-template-columns: 4.8rem 1fr;
    min-height: 8.8rem;
    padding: 2rem;
}

.image-chess-board{
    width: 42%;
    margin-left: 11em;
    position: fixed;
    margin-top: 3em;
  }