
@media (min-width: 960px){
    .layout-component {
        padding: 1.5em;
        background-color: #312e2b;
    }
    }
    
    
    .layout-component {
      align-content: start;
      display: grid;
      flex: 1 0 auto;
      gap: 2.4em;
      grid-template-columns: 100%;
      margin: 0 auto;
      max-width: 120.2em;
      width: 100%;
    }
    
    .index-component {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    
    .block{
      margin-bottom: 3.2em;
      padding-top: 0.8em;
      width: 100%;
      float: right;
      @media (min-width: 768px){
        .index-board {
          display: block;
          position: relative;
          width: 50%;
      }
      }
      .index-guest-board-link {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0
      }
    
      .index-board-img {
        border-radius: 0.5em;
        height: auto;
        max-width: 100%;
        width: 65.6em;
      }
    
      
    
      .intro{
        padding: 0 4.8em;
        width: 25%;
        align-items: center;
        display: flex;
        flex-direction: column;
        float: right;
        background-color: #312e2b;
        margin-top: -61em;

        .title span {
            display: inline-flex;
            font-size: 7em;
        }
    
        .title{
          margin-bottom: 0;
          padding: 2.7rem 0 2.5rem;
          color: #fff;
          font-family: "Montserrat", sans-serif;
          font-size: 4.8rem;
          font-size: clamp(3em, 4vw, 3.8em);
          font-weight: 700;
          line-height: 1.13;
          margin-bottom: 0.6em;
          padding: 0;
          text-align: center;
          width: 320%;
        }
    
     .info{
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 2.5em;
      width: 55em;
      display: flex;
     }
    
     .info-item{
      color: hsla(0deg, 0%, 100%, 0.4);
      display: inline-block;
      font-size: 2.4em;
      position: relative;
      text-align: center;
      margin-right: -1em;
     }
     .info-item-counter{
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 0.9em;
      font-weight: 700;
      margin-right: 0.5em;
     }
    
     .button-wrap{
      display: flex;
      flex-direction: column;
      max-width: 50em;
     }
    
     .button-form{
      margin-bottom: 3.9em;
      width: 100%;
     }
    
     .button-content{
      background-color: #7fa650;
      color: #fff;
      width: 52em;
      margin-right: -3.6em;
      border-radius: 12px;
      border: 0;
      height: 12em;
      align-items: center;
      display: flex;
      justify-content: flex-start;
      padding: 1.8em 2.4em !important;
      text-align: left
     }
     .button-title{
      font-family: "Montserrat", sans-serif;
      font-size: 2.8rem;
      font-size: clamp(2em, 2vw, 3.8em);
      font-weight: 700;
      line-height: 1.1;
      margin-bottom: 0.3em;
      width: 9em;
      text-align: left;
     }
    
     .button-subtitle{
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, system-ui, Helvetica, Arial, sans-serif;
      font-size: 1.4rem;
      font-size: clamp(2.2em, 3vw, 1.4em);
      font-weight: 400;
     }
    
    .playhand-icon{
      background-image: url(https://www.chess.com/bundles/web/images/v5-index/playhand.fff9e395.png);
        bottom: -.4rem;
    }
    
    .computer-icon{
      background-image: url(https://www.chess.com/bundles/web/images/v5-index/computer.99763360.png);
      margin-left: 2rem;
      margin-top: -3mm
    
    }
    
    .basic{
      background-color: rgba(98, 96, 93, 0.4196078431);
      color: #e3dddaad;
      display: flex;
      max-width: 52em;
      width: 175%;
      padding-top: 2em;
      border-radius: 12px;
      height: 12em;
    }
    .guest-button-icon{
      background-repeat: no-repeat;
      background-size: contain;
      flex-shrink: 0;
      height: 9.5em;
      margin-right: 1.7em;
      position: relative;
      width: 8.5em;
      margin-top: 0.2em;
    }
     .button-border{
        --borderRadius: 1rem;
        --borderHeight: .5rem;
        --buttonHeight: 5.5rem;
        --buttonPaddings: .5rem 3rem;
     }
    }
    
    }
    
    .background-news{
      grid-column-gap: 4.8rem;
      background-color: rgba(0,0,0,.2);
      border-radius: .5rem;
      display: grid;
      overflow: hidden;
      padding: 4.8rem;
      flex-direction: column;
      width: 114%;
    
      .frame{
        grid-template-columns: 1fr minmax(auto,40rem);
        padding-top: 3.8rem;
      }
    
      .news-title{
        grid-column: 1;
        padding: 1em 0 0;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-size: 3.2rem;
        font-size: clamp(2.4em, 4vw, 4.2em);
        font-weight: 700;
        text-align: center;
      }
    
      .news-board{
        grid-column: 2;
        justify-content: flex-end;
        margin: 0;
        grid-row: 1/4;
      }
      @media (min-width: 480px){
          .news-board-img{
            max-width: 53em;
            border-radius: 0.4em;
            display: block;
            height: 54em;
          }
        }
    
        .quote {
          align-self: flex-end;
          grid-row: 3/3;
          margin: 0;
          display: flex;
          margin-left: -2rem;
        }
    
        @media (min-width: 960px){
          .quote-img {
            height: 15.8em;
            margin-right: 4.2em;
            min-width: 15.8em;
            width: 9.8em;
            border-radius: 4px;
        }
        }
    
        @media (min-width: 768px){
           .quote-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 46em;
        }
        }
    
        .quote-body {
          color: hsla(0deg, 0%, 100%, 0.65);
          font-size: 1.7rem;
          font-size: clamp(1.6em, 4vw, 2.4em);
          margin-bottom: 0em;
          text-align: left;
          width: 88%;
          margin-left: 0.3em;
        }
    
        .quote-author {
          align-items: center;
          display: inline-flex;
          font-weight: 500;
          margin-left: 0.3em;
          margin-top: 1em;
          color: hsla(0deg, 0%, 100%, 0.65);
          font-size: 2em;

          .chess-title {
            background-color: #b33430;
            border-radius: 0.3em;
            color: #fff;
            font-size: 0.8em;
            font-weight: 600;
            line-height: 1;
            margin-right: 0.7em;
            padding: 0.2em 0.3em;
          }
        }
    
        @media (min-width: 768px){
            .news-button-wrapper {
              grid-column: 1;
              grid-row: 2/3;
              text-align: center;
          }
        }
    
        .news-button-title {
          font-size: clamp(2.9em, 2vw, 2.9em);
          background-color: #7fa650;
          color: #fff;
          width: 10em;
          margin-right: -3em;
          border-radius: 12px;
          border: 0;
          height: 3em;
          align-items: center;
          display: flex;
          justify-content: flex-start;
          padding: 1.5em 1.8em !important;
          text-align: left;
          font-weight: 900;
          margin-left: 6em;
        }
    
        
    }
    
    @media (min-width: 768px){
        .index-suggestion-component {
             margin-top: 3.2rem;
             grid-column-gap: 4.8rem;
             background-color: rgba(0,0,0,.2);
             border-radius: .5rem;
             display: grid;
             overflow: hidden;
             padding: 4.8rem;
             flex-direction: column;
             width: 114%;

             .frame{
     grid-template-columns: 1fr minmax(auto,40rem);
     padding-top: 3.8rem;
   }
           

         }
     }

     @media (min-width: 768px){
          .index-suggestion-title {
            grid-column: 2;
            padding: 2rem 0 0;
            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-size: 3.2rem;
            font-size: clamp(1.4em, 4vw, 4.1em);
            font-weight: 700;
            padding: 1.4em 0;
            text-align: center;
     }
     
     }

     .index-suggestion-board {
         grid-column: 0;
         justify-content: flex-start;
         margin: 0;
         grid-row: 1/4;
         display: flex;
     }

     .index-suggestion-board-img {
      max-width: 49em;
      border-radius: 0.4em;
      display: block;
      height: auto;
     }

     .index-quote {
         align-self: flex-end;;
         grid-column: 2;
         grid-row: 3/3;
         margin: 0;
         display: flex;
     }

     .index-quote-img {
      height: 15.8em;
      margin-right: 3.2em;
      min-width: 17.8em;
      width: 10.8em;
      border-radius: 4px;
      margin-left: -2em;
     }
     .index-quote-inner {
         display: flex;
         flex-direction: column;
         justify-content: center;
     }

         .index-quote-body {
          color: hsla(0deg, 0%, 100%, 0.65);
          font-size: 1.7rem;
          font-size: clamp(1.5em, 4vw, 2.2em);
          margin-bottom: 1em;
          text-align: left;
          width: 74%;
          margin-left: 1em;
            
     }

     .index-quote-author {
      align-items: center;
      display: inline-flex;
      font-weight: 550;
      margin-left: 0.9em;
      font-size: 2.5em;
      color: fff;
      color: hsla(0deg, 0%, 100%, 0.65);
     }

     .index-chess-title {
      background-color: #b33430;
      border-radius: 0.3em;
      color: #fff;
      font-size: 0.7em;
      font-weight: 500;
      line-height: 1;
      margin-right: 0.7em;
      padding: 0.2em 0.2em;
     }

     .index-suggestion-button-wrapper {
         grid-column: 2;
         grid-row: 2/3;
         margin-left: 3rem;
     }

     .index-button-title {
      font-size: clamp(2.5em, 3vw, 1.2em);
      background-color: #7fa650;
      color: #fff;
      width: 11em;
      margin-right: -3em;
      border-radius: 12px;
      border: 0;
      height: 3.2em;
      align-items: center;
      display: flex;
      justify-content: flex-start;
      padding: 1.8rem 5.4rem !important;
      text-align: left;
      font-weight: 900;
      margin-left: 8em;
      margin-top: -2em;
     }

     @media (min-width: 960px){
      .posts-component {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2em 1.6em 10.4em 1.6em;
        
        .posts-title {
          color: #fff;
          font-family: "Montserrat", sans-serif;
          font-size: 3.2rem;
          font-size: clamp(1.4em, 4vw, 4.5em);
          font-weight: 700;
          margin-bottom: 1em;
          text-align: center;
          width: 100%;
          margin-top: 1em;
        }

        @media (min-width: 640px){
          .posts-wrapper {
            grid-column-gap: 3.5em;
            grid-template-columns: repeat(2,1fr);
            grid-row-gap: 3.7rem;
            display: grid;
            width: 100%;
          }
        }

        .post-img {
          display: flex;
          margin-bottom: 2.4em;
          overflow: hidden;
          padding-bottom: 56.25%;
          position: relative;
        }

        .post-img-thumbnail {
          background-color: #000;
          height: 100%;
          object-fit: cover;
          position: absolute;
          transition: opacity .2s;
          width: 100%;
          will-change: opacity;
        }

        .post-name {
          color: #fff;
          font-size: 2.4em;
          font-weight: 500;
          margin-bottom: 0.1em;
        }

        .post-author {
          align-items: center;
          align-self: center;
          color: hsla(0deg, 0%, 100%, 0.65);
          display: inline-flex;
          font-size: 1.8em;
          font-weight: 500;
        }

        .post-preview-image-icon-wrapper {
          background-color: hsla(0,0%,100%,.85);
          border-radius: 50%;
          color: #8b8987;
          display: grid;
          height: 4em;
          left: 50%;
          margin-left: -1.5em;
          margin-top: -1.5em;
          place-items: center;
          position: absolute;
          top: 50%;
          width: 4em;
        }

        .post-preview-image-icon.play {
          margin-left: 0.2em;
        }

        .icon-font-chess {
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-family: Chess New;
          font-weight: 400;
          line-height: 1;
          text-align: center;
        }
        
        .post-preview-image-icon {
          font-size: 2.6em;
          height: 1em;
          width: 0.6em;
        }

        .icon-font-chess.play:before {
          content: "";
          position: absolute;
          right: 100%;
          margin-right: 3px;
          width: 0;
          height: 0;
          
          border-top: 13px solid transparent;
          border-right: 26px solid #62605d6b;
          border-bottom: 13px solid transparent;

        }

        .index-post {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          overflow: hidden;
          position: relative;
          text-align: center;
          transition: opacity .2s;
          will-change: opacity;
          }

    }
     }

     .ui_v5-button-component.ui_v5-button-large.ui_v5-button-primary {
      --secondaryBorderColor: rgba(0,0,0,.2);
     }

     .ui_v5-button-component.ui_v5-button-large {
      font-family: var("Montserrat",sans-serif,"Montserrat"),sans-serif;
      font-size: 2.2em;
      font-weight: 800;
      line-height: 1.2;
      transition: all .07s
     }

     .ui_v5-button-component.ui_v5-button-primary {
      background-color: #7fa650;
      color: #fff;
     }

     .ui_v5-button-component:not(.ui_v5-button-full) {
      height: var( 5.5rem,5rem);
      white-space: nowrap;
     }

     .ui_v5-button-component.ui_v5-button-primary {
      --borderColor: #537133;
     }

     .index-today-button {
      margin: 0 auto 2.4rem;
     }

     .button-footer-wrap{
      grid-column: 2;
      grid-row: 2/3;
      margin-left: 3rem;
     }

     .button-footer-title{
      font-size: clamp(2.5em, 3vw, 3.2em);
      background-color: #7fa650;
      color: #fff;
      width: 10em;
      margin-right: -3em;
      border-radius: 12px;
      border: 0;
      height: 3.2em;
      align-items: center;
      display: flex;
      justify-content: flex-start;
      padding: .8em 2.1em !important;
      text-align: left;
      font-weight: 900;
      margin-left: 13em;
      margin-top: -2em;
     }
     @media (min-width: 960px){
      .layout-component.footer-component {
        padding-top: 0;
        }

        .footer-centered {
          flex-direction: column;
          padding: 0 0.5em 1.5em 0.5em;
        }

        .footer-component {
          align-items: center;
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          flex-wrap: nowrap;
          justify-content: space-between;
          margin: 0 auto;
          max-width: 108.4em;
          width: 100%;
        }

        .footer-centered .footer-left {
          margin-bottom: 0.7em;
          width: auto;
          margin-left: 6em;
        }

        .footer-pages-component {
          align-items: flex-start;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: left;
        }

        .footer-page-component {
          -webkit-font-smoothing: antialiased;
          background-color: transparent;
          border: none;
          color: hsla(0deg, 0%, 100%, 0.5);
          font-size: 1.8em;
          font-weight: 500;
          line-height: 1.42857143;
          margin-bottom: 0;
          margin-top: 0;
          padding: 0;
          text-shadow: inherit;
          user-select: none;
          margin-right: 0.4em;
        }

        .footer-page-component:after {
          color: hsla(0,0%,100%,.5);
          content: " | ";
        }

     }

    
