<main class="layout-component">
    <div class="index-component">
    <section class="block">
        <div clas="index-board">
            <form class="button-form">
                <button class="index-guest-board-link">
                    <img  class="index-board-img" src="https://www.chess.com/bundles/web/images/offline-play/standardboard.1d6f9426.png" alt="standardboard">
                </button>
            </form>
        </div>
        <div class="intro">
            <h1 class="title">
                <div><span>Play Chess</span></div> 
                <div><span>Online</span></div> 
                <div><span>on the #1 Site!</span></div> 
            </h1>
            <div class="info">
                <p class="info-item"><span class="info-item-counter">10,115,578</span>Games Today</p>

                <p class="info-item"><span class="info-item-counter">108,649</span>Playing Now</p>

            </div>

            <div class="button-wrap">
                <form class="button-form">
                    <button class="button-content">
                        <div class="guest-button-icon playhand-icon"></div>
                        <div>
                            <div class="button-title">Play Online</div>
                            <div class="button-subtitle">Play with someone at your level</div>
                        </div>
                    </button>
                </form>
                <div class="basic">
                    <div class="guest-button-icon computer-icon"></div>
                    <div>
                        <div class="button-title">Play Computer</div>
                            <div class="button-subtitle">Play vs customizable training bots</div>
                    </div>
                </div>
            </div>

        </div>
        </section>

        <section class="background-news frame">
            <h2 class="news-title">Solve Chess Puzzles</h2>
            <div class="news-board">
                <img class="news-board-img" src="https://www.chess.com/bundles/web/images/web/board-puzzles.4a54c49f@2x.png" alt="board-puzzles">
            </div>
            <div class="quote">
                <img class="quote-img" src="https://www.chess.com/bundles/web/images/faces/hikaru-nakamura.e1ca9267.jpg" alt="hikaru-nakamura">
                
                <blockquote class="quote-inner">
                    <p class="quote-body">
                        "Puzzles are the best way to improve pattern recognition, and no site does it better."    
                    </p>
                    <div class="quote-author">
                        <div class="chess-title">GM</div>
                        Hikaru Nakamura
                    </div>
                </blockquote>              
            </div>
            <div class="news-button-wrapper">
                <div class="news-button-title ">
                    Solve Puzzles
                </div>
            </div>
        </section>
        <section class="index-suggestion-component frame">
            <h2 class="index-suggestion-title">Take Chess Lessons</h2>
            <div class="index-suggestion-board">
                <img class="index-suggestion-board-img " src="https://www.chess.com/bundles/web/images/web/board-lessons.825946d3@2x.png" alt="board-lessons">
            </div>
            <div class="index-quote">
                <img class="index-quote-img" src="https://www.chess.com/bundles/web/images/faces/anna-rudolf.193d08a5.jpg" alt="anna-rudolf">
           

            <blockquote class="index-quote-inner" >
                <p class="index-quote-body">
                    "Chess.com lessons make it easy to learn to play, then challenge you to continue growing."
                </p>
                <div class="index-quote-author">
                    <div class="index-chess-title">IM</div>                   
                    Anna Rudolf
                </div>
            </blockquote>
        </div>
        <div class="index-suggestion-button-wrapper">
            <div class="index-button-title ">
            Start Lessons
            </div>
        </div>
        </section>
    </div>
</main>