<main class="layout-component">
    <div class="index-component">
    <section class="block">
        <div clas="index-board">
            <form class="button-form">
                <button class="index-guest-board-link">
                    <img  class="index-board-img" src="https://www.chess.com/bundles/web/images/offline-play/standardboard.1d6f9426.png" alt="standardboard">
                </button>
            </form>
        </div>
        <div class="intro">
            <h1 class="title">
                <div><span>Play Chess</span></div> 
                <div><span>Online</span></div> 
                <div><span>on the #1 Site!</span></div> 
            </h1>
            <div class="info">
                <p class="info-item"><span class="info-item-counter">10,115,578</span>Games Today</p>

                <p class="info-item"><span class="info-item-counter">108,649</span>Playing Now</p>

            </div>

            <div class="button-wrap">
                <form class="button-form">
                    <a href="play-chesss"><div class="button-content">
                        <div class="guest-button-icon playhand-icon"></div>
                        <div>
                             <div class="button-title">Play Online</div>
                            <div class="button-subtitle">Play with someone at your level</div>
                        </div>
                    </div></a>
                </form>
                <div class="basic">
                    <div class="guest-button-icon computer-icon"></div>
                    <div>
                       <div class="button-title">Play Computer</div>
                            <div class="button-subtitle">Play vs customizable training bots</div>
                    </div>
                </div>
            </div>

        </div>
        </section>

        <section class="background-news frame">
            <h2 class="news-title">Solve Chess Puzzles</h2>
            <div class="news-board">
                <img class="news-board-img" src="https://www.chess.com/bundles/web/images/web/board-puzzles.4a54c49f@2x.png" alt="board-puzzles">
            </div>
            <div class="quote">
                <img class="quote-img" src="https://www.chess.com/bundles/web/images/faces/hikaru-nakamura.e1ca9267.jpg" alt="hikaru-nakamura">
                
                <blockquote class="quote-inner">
                    <p class="quote-body">
                        "Puzzles are the best way to improve pattern recognition, and no site does it better."    
                    </p>
                    <div class="quote-author">
                        <div class="chess-title">GM</div>
                        Hikaru Nakamura
                    </div>
                </blockquote>              
            </div>
            <a href="home"><div class="news-button-wrapper">
                <div class="news-button-title ">
                    Solve Puzzles
                </div>
            </div></a>
        </section>
        <section class="index-suggestion-component frame">
            <h2 class="index-suggestion-title">Take Chess Lessons</h2>
            <div class="index-suggestion-board">
                <img class="index-suggestion-board-img " src="https://www.chess.com/bundles/web/images/web/board-lessons.825946d3@2x.png" alt="board-lessons">
            </div>
            <div class="index-quote">
                <img class="index-quote-img" src="https://www.chess.com/bundles/web/images/faces/anna-rudolf.193d08a5.jpg" alt="anna-rudolf">
           

            <blockquote class="index-quote-inner" >
                <p class="index-quote-body">
                    "Chess.com lessons make it easy to learn to play, then challenge you to continue growing."
                </p>
                <div class="index-quote-author">
                    <div class="index-chess-title">IM</div>                   
                    Anna Rudolf
                </div>
            </blockquote>
        </div>
        <div class="index-suggestion-button-wrapper">
            <div class="index-button-title ">
            Start Lessons
            </div>
        </div>

        </section>

        <section class="posts-component">
            <h2 class="posts-title">
                Follow what’s happening in Chess Today.
            </h2>

            <div class="posts-wrapper">
                <div class="index-post">
                    <div class="post-img">
                        <img class="post-img-thumbnail" src="https://images.chesscomfiles.com/uploads/v1/news/1101257.63aec61f.507x286o.bcf90ec12383.png" alt="image">
                    </div>
                    <h3 class="post-name">Chess.com Makes Offer To Play Magnus Group</h3>
                    <div class="post-author">CHESScom</div>
                </div>

                <div class="index-post">
                     <div class="post-img">
                    <img class="post-img-thumbnail" src="https://images.chesscomfiles.com/uploads/v1/news/1101341.e5f32b41.507x286o.64a4c5c9515f.png" alt="image">
                    </div>
                    <h3 class="post-name">Fedoseev Triumphs In An 'Absolutely Different World'</h3>
                    <div class="post-author">NM_Vanessa</div>

                </div>
               
                <div class="index-post">
                    <div class="post-img">
                    <img class="post-img-thumbnail" src="https://images.chesscomfiles.com/uploads/v1/article/28789.7cf5ae87.507x286o.804cb0d101ed.png" alt="image">
                    </div>
                    <h3 class="post-name">Interviewing The Coach Of Olympiad Sensation Gukesh</h3>
                    <div class="post-author">NiranjanNavalgund</div>
                </div>


                <div class="index-post">
                <div class="post-img">
                    <img class="post-img-thumbnail" src="https://images.chesscomfiles.com/uploads/v1/video/9275.e92b57ef.507x286o.eeb24bbf3c2b.png" alt="image">
                </div>
                <div class="post-preview-image-icon-wrapper">
                    <span class="icon-font-chess play post-preview-image-icon">
                    </span>
                </div>
                <h3 class="post-name">Learn The Petroff Defense</h3>
                <div class="post-author">
                    <div class="index-chess-title">M</div>
                    Coach
                </div>
            </div>
            </div>
        </section>
            <div class="button-footer-wrap">
                <div class="button-footer-title">
                    Chess Today
                </div>
            </div>
    </div>
</main>

<footer class="footer-component footer-centered">
    <div class="footer-pages-component footer-left">
        <p class="footer-page-component">Help</p>
        <p class="footer-page-component">Chess Terms</p>
        <p class="footer-page-component">About</p>
        <p class="footer-page-component">Jobs</p>
        <p class="footer-page-component">Developers</p>
        <p class="footer-page-component">User Agreement</p>
        <p class="footer-page-component">Privacy</p>
        <p class="footer-page-component">Fair Play</p>
        <p class="footer-page-component">Community</p>
        <p class="footer-page-component">Chess.com © 2022</p>
    </div>
</footer>