.login-header-o {
    margin: 0 auto;
}

.login-header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 33em;
}

.login-logo-o {
    height: 7.4em;
    margin-bottom: 3em;
    width: 24.8em;
    margin-top: 3em;
}

.login-logo {
    background: url(https://www.chess.com/bundles/web/images/logo/logo.d5e7118b.svg) no-repeat 50%;
    background-size: contain;
    display: inline-block;
    text-indent: -999em;
}

.login-component-o {
    background-color: #262421;
    border-radius: 0.5em;
    margin: 0;
    width: 29em;
}

.login-component {
    max-width: 100%;
    overflow: hidden;
    height: auto;
    width: 48em;
}

.section{
    color: hsla(0,0%,100%,.65);
}

@media (min-width: 768px){
    .login-form-wrapper {
        padding: 3em 3em 1em;
    }

    .login-form-o {
        margin-bottom: 2.5em;
    }

    .authentication-login-form {
        display: flex;
        flex-direction: column;
        width: 27em;
    }
}

.input-group-component {
    align-items: center;
    display: flex;
    position: relative;
    width: 80%;
    height: 8em;
}

.login-input {
    height: 4.6em;
}
.input-group-space-left {
    padding-left: 2.5em;
}

.input-component {
    background-color: hsla(0,0%,100%,.1);
    border: .1em solid hsla(0,0%,100%,.1);
    border-radius: .3em;
    line-height: 1;
    padding: -0.6em .8em;
    position: relative;
    color: hsla(0,0%,100%,.65);
    font-size: var(1em,1.6rem);
    width: 100%;
    font-size: 2.3em;
    height: 2em;
}

.input-group-icon.input-group-left {
    border-radius: .3em 0 0 .3em;
    left: 0;
}

.icon-font-chess {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}

.input-group-icon {
    bottom: 0;
    color: hsla(0,0%,100%,.4);
    font-size: 1.8em;
    height: 100%;
    position: absolute;
    top: 1.5em;
    width: 1.5em;
}

.icon-font-chess.user:before {
    content: "\0062";
}

.input-group-icon:before {
    display: grid;
    height: 100%;
    place-content: center;
}

.input-group-button {
    background-color: transparent;
    border: 0;
    border-radius: 0 0.3em 0.3em 0;
    bottom: 0;
    padding: 0;
    position: absolute;
    right: 1em;
    top: 0;
    width: 3.5em;
}

.input-group-button .input-group-icon {
    right: 0;
}

.icon-font-chess.eye:before {
    content: "\0057"
}

.authentication-login-options {
    align-items: center;
    color: hsla(0,0%,100%,.65);
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    width: 42em;
}

.form-checkbox-component {
    display: flex;
}

.authentication-login-options .form-checkbox-checkbox {
    margin-left: 0;
}

.form-checkbox-checkbox {
    cursor: pointer;
}

.authentication-login-options .form-checkbox-label {
    color: hsla(0,0%,100%,.65);
}

.form-checkbox-label {
    color: #666463;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0.5em;
    width: 7em
}

.authentication-login-options>:last-child {
    text-align: right;
    width: 9em;
    font-size: 1.3em;
    margin-top: 1em;
}

.authentication-login-forgot-o {
    color: #52b1dc;
}

.authentication-login-forgot {
    font-weight: 400;
}

.ui_v5-button-component.ui_v5-button-large {
    font-family: 'Quicksand', sans-serif;
    font-size: 4em;
    font-weight: 600;
    line-height: 1.2;
    transition: all 0.07s;
    width: 24em;
    height: 2em;
    border-radius: 0.3em;

}

.ui_v5-button-component.ui_v5-button-primary {
    background-color: #7fa650;
    color: #fff;
    cursor: pointer;
}

.ui_v5-button-component:not(.ui_v5-button-full) {
    height: var(2.5em,5em);
    white-space: nowrap
}

.login-submit-v5 {
    margin-top: 6rem;
}

.ui_v5-button-component {
    align-items: center;
    border: 0;
    border-radius: var(0.5em,0.5em);
    box-shadow: 0var(0em) 0 0 var(#537133),0 .7em .95em .05em var(rgba(0,0,0,.2));
    display: inline-flex;
    font-size: var(1.5em,1.5em);
    font-weight: 600;
    justify-content: center;
    margin-bottom: var(0em);
    max-width: 153%;
    overflow: hidden;
    padding: var(.5em 3em,.5em 2em);
    position: relative;
    text-align: center;
}


.authentication-social-signin-v5-component {
    margin-bottom: 2em;
}

.authentication-social-signin-v5-separator {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 3em;
    justify-content: center;
    margin: -1.2em 0 2em;

}

.authentication-social-signin-v5-separator>:first-child, .authentication-social-signin-v5-separator>:last-child {
    background-color: hsla(0,0%,100%,.1);
    flex-grow: 1;
    height: .1rem;
}
.authentication-social-signin-v5-paragraph {
    color: #8b8987;
    font-size: 1.2em;
    margin-top: -.1em;
    padding: 0 0.5em;
}

.authentication-social-signin-v5-options {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: space-between;
    max-width: 41em;

}

.authentication-social-signin-v5-google {
    background-color: #fff;
    color: #26211b;
    transition: color .2s ease;
}

@media (min-width: 480px){
    .authentication-social-signin-v5-social-button {
    padding-left: 1em;
    padding-right: 1em;
}
}

.authentication-social-signin-v5-social-button {
    align-items: center;
    border-radius: 0.5em;
    display: flex;
    font-size: 1.5em;
    font-weight: 600;
    justify-content: center;
    line-height: 1.2;
    min-height: 5em;
    position: relative;
    width: 100%;
}
.authentication-social-signin-v5-social-button .authentication-social-signin-v5-social-icon {
    position: absolute;
}

.authentication-social-signin-v5-social-icon {
    height: 4.1em;
    left: 2.4em;
    position: absolute;
    width: 3.4em;
}

.authentication-social-signin-v5-social-icon.google:before {
    background-image: url(https://www.chess.com/bundles/web/images/socials/google.d19562c0.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}

// ------------------------------------


.input-group-component .input-box{
    position: relative;
    height: 3em;
    width: 100%;
}

.input-box .input{
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 0 35px 0 15px;
    transition: all 0.2s linear;
}

input:is(:focus, :valid){
    border-color: #999;
}

.input-box :is( i){
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #999;
    transition: all 0.2s ease;
}



.input-box i{
    right: -1.9em;
    top: -0.1em;
}

input:is(:focus, :valid) ~ i{
    color: #999;
}
