.graps {
  border-radius: 15px;
  width: 55em;
  height: 70em;
  margin-top: 1.7em;
  background-color: rgb(18, 16, 16);
}
@property --percentage {
  initial-value: 100%;
  inherits: false;
  syntax: "<percentage>";
}
.img {
  width: 9em;
  height: 9em;
  border-radius: 10px;
  margin-top: 2em;
}
.chart {
  background-image: conic-gradient(
    rgba(100, 100, 100, 0.825) var(--percentage),
    rgba(255, 255, 255, 0) 0
  );
  // background: conic-gradient(red var(--percentage), white 0);
  //border-radius: 50%;
  width: 9em;
  height: 9em;
  border-radius: 10px;
  //animation: timer ;
  margin: 0;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  padding: 2rem;
}
p {
  color: white;
  margin-left: 0em;
  font-size: 1.5em;
  padding: 0 1em;
  margin: 0;
}
@keyframes timer {
  to {
    --percentage: 0%;
  }
}
.scrollbar {
  background-color: #2c2929;
  height: 50em;
  width: 100%;
  padding: auto;
  // margin-left: 2em;
  // margin-right: 2em;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 450px;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f500;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f500;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #2c2929;
}

td,
th {
  //display: flex;
  font-size: 1.5em;
  margin-top: 0.2em;
  margin-left: 4em;
  border: 1px #b33333;
  text-align: left;
  padding: 1em;
  padding-left: 4em;
  color: white;
}

tr:nth-child(even) {
  background-color: #312e2b;
}
.Icon {
  font-size: 1.2em;
}
.row-setting {
  width: 100%;
  display: flex;
  padding: 0 4em;
  justify-content: space-between;
  height: 12em;
  align-items: center;
  .bt-setting {
    i {
      font-size: 3em;
      color: #838383;
      cursor: pointer;
    }
  }
  .bt-setting i:hover {
    color: #c9c9c9;
  }
  .bt-add {
    background-color: #403e3e;
    padding: 1.2em 1.95em 0.7em 2em;
    border-radius: 0.4em;
    margin-top: -1.2em;
    i {
      font-size: 2.6em;
    }
  }
  .bt-add:hover {
    background-color: #3c3c3c;
    color: #bdbdbd;
  }
}
.box-start {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.32);
  border-radius: 15px;
  margin-top: -0.7em;
  .bt-start {
    cursor: pointer;
    border-radius: 0.5em;
    background-color: #769656;
    padding: 1.5em 3em;
    p {
      color: white;
      padding: 0;
      margin: 0;
      font-size: 2em;
    }
  }
  .bt-start:hover {
    background-color: #79a053;
  }
}
