<div style="display: flex; justify-content: space-between; width: 100%;padding: 1em 6em;">
  <div>
    <div *ngIf="gameService.isGameStart && playerService.player1.id == this.gameService.currentUserIDControll"
      class="chart" style="margin-top: 2em; position: absolute"
      [style]="'animation: timer ' + gameService.timePerTurn + 's infinite linear;'"></div>
    <img src="../../../../../assets/chess/avatar/{{playerService.player1.img}}.png" class="img" alt="Avatar" />
    <br />
    <p style="margin-top: 0.5em; font-size: 2em; color: aqua">{{playerService.player1.name}}</p>
  </div>

  <p style="font-size: 4em; color: aqua; margin-top: 1.5em; margin-right: 1em">
    VS
  </p>
  <div>
    <div *ngIf="gameService.isGameStart && playerService.player2.id == this.gameService.currentUserIDControll"
      class="chart" style="margin-top: 2em; position: absolute"
      [style]="'animation: timer ' + gameService.timePerTurn + 's infinite linear;'"></div>
    <img *ngIf="playerService.player2.img != ''"
      src="../../../../../assets/chess/avatar/{{playerService.player2.img}}.png" class="img" alt="Avatar" />
    <div style="cursor: pointer; padding-top: 6em;" (click)="openDialogNewGame()">
      <!-- <app-loading *ngIf="playerService.player2.img == ''"></app-loading> -->
      <div style="">
        <p >Watting peole...</p>
      </div>
      <div style="margin-top: 1.1em;
      display: flex;
      justify-content: center;">
        <p style="font-size: 1em; color: #a5a5a5;">Click to invite</p>
      </div>
    </div>

    <br />
    <p style="margin-top: 0.5em; font-size: 2em; color: aqua">{{playerService.player2.name}}</p>
  </div>
</div>
<div>
  <div style="
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 1em 7em;
    ">
    <div style="display: flex">
      <i class="Icon fi fi-sr-time-quarter-to" style="color: white; margin-left: 0em; display: flex"></i>
      <p>
        {{playerService.player1.chessControl.time.getFormatTime()}}
      </p>
    </div>
    <div style="display: flex;">
      <i class="Icon fi fi-sr-time-quarter-to" style="color: white; margin-right: 0em; display: flex"></i>
      <p>
        {{playerService.player2.chessControl.time.getFormatTime()}}
      </p>
    </div>
  </div>

  <div class="scrollbar" id="style-1">
    <div class="force-overflow">
      <table>
        <tr *ngFor="let item of hService.grapsHalf; let i = index">
          <td class="fa-fw mr-3">
            <i class="Icon fi {{hService.graps[i*2].icon}} fa-fw mr-3"></i>
            {{ hService.graps[i*2].grapFrom }}
            <fa-icon [icon]="['fas', 'caret-right']" class="fa-fw mr-3" style="margin-left: 10px"></fa-icon>
            {{ hService.graps[i*2].grapTo }}
          </td>

          <td *ngIf="hService.graps[i*2+1] != undefined" class="fa-fw mr-3">
            <i class="Icon fi {{hService.graps[i*2+1].icon}} fa-fw mr-3"></i>
            {{ hService.graps[i*2+1].grapFrom }}
            <fa-icon [icon]="['fas', 'caret-right']" class="fa-fw mr-3" style="margin-left: 10px"></fa-icon>
            {{ hService.graps[i*2+1].grapTo }}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row-setting">
    <div class="box-start">
      <div (click)="clickStart()" class="bt-start">
        <p>START</p>
      </div>
    </div>

    <div (click)="openDialogNewGame()" style="margin-top: -0.5em; cursor: pointer; margin-left: -2em;">
      <p style="font-size: 1.6em;font-weight: 500;">GAME MOD: [{{' '+getModDes() +' '}}]</p>
    </div>

    <div class="bt-setting" (click)="openDialogSkin()"><i class="fi fi-sr-settings"></i></div>
  </div>
</div>
