
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />            

<div class="background-main">
    <div>
        <img class="background-img" src="https://images.chesscomfiles.com/uploads/v1/user/86372808.f93673f8.200x200o.3fbbc6d3beb4.png" alt="avatar-faceman">
        <textarea name="chat" id="chat" cols="30" rows="2">rtyuioopkkj</textarea>
    </div>
    <div class="rows">
    <div class="icon-space">
        <button type="button" class="button">
            <span><i class='fa fa-plus'></i></span> 
        </button>
    </div>

    
    <div  class="icon-space">
        <button type="button" class="button">
            <span><i class='fa fa-angle-left'></i></span> 
        </button>
    </div>

    <div  class="icon-space">
        <button type="button" class="button">
            <span><i class='fa fa-angle-right'></i></span> 
        </button>
    </div>

    <div  class="icon-space">
        <button type="button" class="button">
            <span><i class='fa fa-lightbulb-o'></i></span> 
        </button>
    </div>

</div>
<div>
    <div>
        <button type="button" class="icon">
            <span><i class='fa fa-share-alt'></i></span> 
        </button>
        <button type="button" class="icon">
            <span><i class="fa-solid fa-arrow-down-to-bracket"></i>
            </span> 
        </button>
        <button type="button" class="icon">
            <span><i class='fa fa-cog'></i></span> 
        </button>
    </div>
</div>
   
   
       
    
</div>



