
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />            

<div class="background-main">
        <div style="height:200px;display: flex;">
                <img class="background-img" src="https://images.chesscomfiles.com/uploads/v1/user/86372808.f93673f8.200x200o.3fbbc6d3beb4.png" alt="avatar-faceman">
                <div><div class="talkbubble">
                    <textarea>Thanks for playing chess with me. Good luck!</textarea></div></div>
                 
        
        </div>
        <div style="height:300px;background-color: #62605d6b;">
            <div style="float:left;margin-top: 20px;"><span>Starting Position</span></div>
    
            <div style="float:right;margin-top: 20px;">
               <i class='fas fa-compass' style="margin-right: -50px;"></i>
                <i class='fa-solid fa-book' style="transform: rotate3d(1, 1, 1, 45deg);margin-right: 40px;"></i>
               
                
            </div>
    
        </div>
        <div class="rows">
        <div class="icon-space">
            <button type="button" class="button">
                <span><i class='fa fa-plus'></i></span> 
            </button>
        </div>

        
        <div  class="icon-space">
            <button type="button" class="button">
                <span><i class='fa fa-angle-left'></i></span> 
            </button>
        </div>

        <div  class="icon-space">
            <button type="button" class="button">
                <span><i class='fa fa-angle-right'></i></span> 
            </button>
        </div>

        <div  class="icon-space">
            <button type="button" class="button">
                <span><i class='fa fa-lightbulb-o'></i></span> 
            </button>
        </div>

    </div>

 

    <div>
        <div>
            <button type="button" class="icon">
                <span><i class='fa fa-share-alt'></i></span> 
            </button>
            <button type="button" class="icon">
                <span>
                    <i class='fa fa-download'></i>
                </span> 
            </button>
            <button type="button" class="icon">
                <span><i class='fa fa-cog'></i></span> 
            </button>
        </div>

        <div style="float:right">
            <button type="button" class="icon">
                <span><i class='fa fa-flag' style="transform: skewX(10deg);"></i></span>
                    
            </button>
        </div>
    </div>  
</div>



