.containers{
    width: 40em;
    max-height: 11em;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.8em 0.8em 0 0;
    position: relative;
    margin: 0 auto;
    .rows{
      display: flex;
      justify-content: center;
      align-items: center;
      .item{
        //padding-right: 25em;
        display: block;
        width: calc(40em / 8);
        height: calc(38em / 8);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

.component {
    display: flex;
    margin-bottom: 0.5em;
    min-height: 3em;
    position: relative;
    line-height: 3.5;
}
//Làm label
.label {
    color: #312e2b;
    height: 3em;
    min-width: 10em; 
    align-content: center;
    margin-bottom: 0em;
    font-size: 2em;
}

//Làm hộp select
.select {
    flex: 1;
    border: 0.1em solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
    // background-image: linear-gradient(45deg, transparent 49.8%, var(--arrowColor) 0), linear-gradient(135deg, var(--arrowColor) 49.8%, transparent 0);
    // background-position: calc(100% - var(--arrowPosition) - 0.5em) 50%, calc(100% - var(--arrowPosition)) 50%;
    // background-repeat: no-repeat;
    // background-size: 0.5em 0.5em, 0.5em 0.5em;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
}
option {
    font-size:2rem;
}
//Làm switch button

.switch{
    position: absolute;
    display: inline-block;
    right: 0;
}
.toggle {
    margin-top:1.5em;
    right: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 7em;
    height: 4.1em;
    display: inline-block;
    position: relative;
    border-radius: 10em;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
  }
  
  .toggle:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    height: 3.2em;
    width: 3.2em;
    left: 0.2em;
    top: 0.45em;
    background: #fff;
    border-radius: 50%;
    font-family: quicksand, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  .toggle:checked {
    background-color: #4CD964;
  }
  
  .toggle:checked:before {
    left: 32px;
  }
  

input:checked+.slider {
    background-color: #1DB510;
}

input:focus+.slider {
    box-shadow: 0 0 1em #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(75%);
    -ms-transform: translateX(75%);
    transform: translateX(75%);
}

.Footer {
    display: flex;
    height: auto;
    flex: 1;
    padding: 1.5em 0 0 0;
    flex-direction: row;

}

.buttonCancel {
    font-weight: 800;
    width: 80%;
    max-width: 40rem;   
    align-items: center;
    background-color: #dbd9d7;
    border-radius: 5px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #666463;
    cursor: pointer;
    // display: inline-flex;
    // flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    -webkit-user-select: none;
    touch-action: manipulation;
    flex: auto;
    font-size: 2em;
}

.buttonCancel:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.buttonCancel:active {
    outline: 0;
}

.buttonCancel:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}


.buttonSave {
    background-color: rgb(15, 155, 15);
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    width:80%;
    max-width: 30em;
    border-width: 0;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    color: rgb(212, 218, 210);
    cursor: pointer;
    line-height: 1;
    margin: 0 0.1em;
    position: relative;
    height: 100%;
    flex: auto;
    font-weight: 800;
}

.buttonSave:hover {
    border: 0;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}