
<h2 mat-dialog-title class="title">Play Online Chess</h2>
<h3 mat-dialog-title class="subtitle">What is your chess skill level</h3>
<div>
  <mat-dialog-content class="mat-typography">
  <div class="four-levels">
    <label for="new" class="four-level">
      <div style="width:100%;">
        <img src="../../../assets/ImageGamemode/pawn.png" alt="pawn">
        <span class="EachLevel">
          New to chess</span>
      </div>
    </label>
    <label for="beginner" class="four-level">
      <div style="width:100%;">
        <img src="../../../assets/ImageGamemode/knight.png" alt="knight">
        <span class="EachLevel">
          Beginner</span>
      </div>
    </label>
    <label for="intermediate" class="four-level">
      <div style="width:100%;">
        <img src="../../../assets/ImageGamemode/rook.png" alt="rook">
        <span class="EachLevel">
          Intermediate</span>
      </div>
    </label>
    <label for="advanced" class="four-level">
      <div style="width:100%;">
        <img src="../../../assets/ImageGamemode/queen.png" alt="queen">
        <span class="EachLevel">
          Advanced</span>
      </div>
    </label>
  </div>
</mat-dialog-content>
</div>


<mat-dialog-actions style="margin:0 auto;width: 100%;display: flex; flex-direction: column;">
  <button type="button" class="buttonGuest">Play as a Guest</button>
  <button type="button" class="btn buttonSignUP" style="margin-top:4% ;">Sign Up</button>
</mat-dialog-actions>