
<div style="min-height:49em ;">
    <div class="containers">
        <img src="../../../assets/ImageGamemode-Win-Lose/Win.png" alt="Win" style="width: 100%">
        <div class="x" (click)="closeDialog()"><i class="fi fi-sr-cross"></i></div>
        <div class="title">THẮNG CUỘC</div>
    </div>
    
    <div class="position" style="align-items: center;">
        <img src="../../../assets/chess/avatar/a1.png" alt="a1" class="avatar green">
        <span class="score">1</span>
        <span class="score">-</span>
        <span class="score">0</span>
        <img src="../../../assets/chess/avatar/a2.png" alt="a2" class="avatar gray">
    </div>
    
    <div class="position">
        <div class="nickname">Nickname1</div>
        <div class="nickname">Nickname2</div>
    </div>
    <div style="display:flex;justify-content:center;margin-top: 2em;font-size: 3em">
        <div type="button" class="buttonNew1">Làm ván mới</div>
    </div>
</div>