<div class="containers">
    <img src="../../../assets/ImageGamemode-Win-Lose/Win.png" alt="Win" style="width: 100%">
    <div class="x" (click)="closeDialog()"><i class="fi fi-sr-cross"></i></div>
    <div class="title">THẮNG CUỘC</div>
</div>

<div style="display:flex;justify-content: space-around;">
    <img src="../../../assets/chess/avatar/a1.png" alt="a1" class="avatar green">
    <img src="../../../assets/chess/avatar/a2.png" alt="a2" class="avatar gray">
</div>
<div class="score-position">
    <span class="score">1</span>
    <span class="score">-</span>
    <span class="score">0</span>
</div>
<div style="display:flex;justify-content: space-around">
    <div class="nickname">Nickname1</div>
    <div class="nickname">Nickname2</div>
</div>
<div>
    <button type="button" class="buttonNew">Làm ván mới</button>
</div>