<div class="dialog-to-capture">
  <div class="col">
    <img (click)="closeWithValue('x')" src="../../../../../assets/SkinImage/Pieces/{{skinChess.currenSkinChess}}/{{namePng}}r.png" alt="">
  </div>
  <div class="col">
    <img (click)="closeWithValue('m')" src="../../../../../assets/SkinImage/Pieces/{{skinChess.currenSkinChess}}/{{namePng}}n.png" alt="">
  </div>
  <div class="col">
    <img (click)="closeWithValue('t')" src="../../../../../assets/SkinImage/Pieces/{{skinChess.currenSkinChess}}/{{namePng}}b.png" alt="">
  </div>
  <div class="col">
    <img (click)="closeWithValue('h')" src="../../../../../assets/SkinImage/Pieces/{{skinChess.currenSkinChess}}/{{namePng}}q.png" alt="">
  </div>
</div>
