.img {
  text-align: center;
  width: 15em;
  height: 15em;
  margin-top: 0em;
  cursor: pointer;
}

.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;

  // position: relative;
  p {
    display: inline-block;
    font-size: 2.5em;
  }

  .sidebar {
    width: 20em;
    height: 5vh;
    padding: 0em 0em;
  }

  .main_content1 {
    width: calc(100% - 20em);
    min-height: 110vh;
    // background-color: #312e2b;

    background-image: linear-gradient(to top, #312e2b, #817f7e);
  }
  .hearder2{
    width: 100%;
    height: 4.5em;
    background-color: #312e2b;
  }
}

.Icon {
  font-size: 2em;
}


.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3em;
}

.wrapper .sidebar ul li {
  padding: 1.5em;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.05);
  border-top: 0.1em solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 0.25em;
}

.wrapper .sidebar ul li:hover {
  background-color: #1d1b1a;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 4em;
  background: #594f8d;
  height: 4em;
  line-height: 4.5em;
  text-align: center;
  margin: 0 0.5em;
  color: #bdb8d7;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.wrapper .main_content .header {
  padding: 2em;
  background: #312e2b;
  color: #717171;
  border-bottom: 0.1em solid #e0e4e8;
}

.wrapper .main_content .info {
  margin: 2em;
  color: #717171;
  line-height: 0.25em;
  width: 70%;
}

.wrapper .main_content .info div {
  margin-bottom: 2em;
  width: 100%;
  margin-left: 20em;
  display: list-item;
}


@media (max-height: 500px) {
  .social_media {

    display: none !important;
  }
}

.button-footer-title {
  font-size: clamp(2.3em, 3vw, 1.2em);
  background-color: #7fa650;
  color: #fff;
  width: 8em;
  border-radius: 12px;
  border: 0;
  height: 2.2em;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  cursor: pointer;
}

.button-footer-title-2 {
  font-size: clamp(2.3em, 3vw, 1.2em);
  background-color: #b3a8a178;
  color: #fff;
  width: 8em;
  border-radius: 12px;
  border: 0;
  height: 2.2em;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  margin-top: -1em;
  cursor: pointer;
}

::ng-deep.mat-dialog-container {
  padding: 0px !important;
}

li a{
  padding-left: 1em;
  margin-top: 0.7em;
  i{
    padding-right: 0.3em;
  }
}

.dropbtn {
  display: center;
  font-size: 1.6em;
  border: none;
  outline: none;
  color: white;
  padding: 0.4em 1.6em;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-image: linear-gradient(to top, #312e2b, #817f7e);
  min-width: 16em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1.2em 1.6em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

// .dropdown:hover .dropbtn {
//   background-color: #212529;
// }
