<div class="wrapper">
  <div class="sidebar">
    <div style="position: fixed; background: #262421; height: 100vh;">
      <img
      src="../assets/chess/unknown__1_-removebg-preview.png"
      class="img"
      alt=""
    />
    <ul>
      <li>
        <a href="chessBoard"><i class="Icon fi fi-sr-chess-rook-alt fa-fw mr-3"></i> <p>Play</p></a>
      </li>
      <li>
        <a href="#"><i class="Icon fi fi-ss-puzzle-piece fa-fw mr-3"></i><p>Puzzles</p></a>
      </li>
      <li>
        <a href="#"><i class="Icon fi fi-sr-graduation-cap fa-fw mr-3"></i><p>Learn</p></a>
      </li>
      <li>
        <a href="#"><i class="Icon fi fi-sr-eye fa-fw mr-3"></i><p>Watch</p></a>
      </li>
      <li>
        <a href="#"><i class="Icon fi fi-rr-ballot fa-fw mr-3"></i><p>News</p></a>
      </li>
      <li>
        <a href="#"><i class="Icon fi fi-ss-users fa-fw mr-3"></i><p>Social</p></a>
      </li>
      <li>
        <a href="#"><i class="Icon fi fi-ss-menu-dots fa-fw mr-3"></i><p>More</p></a>
      </li>
    </ul>
    <div class="social_media"></div>
    </div>
  </div>

 <div class="main_content1" id="main">
    <div class="info">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
 </div>
<!--
<div id="wrapper">
  <div id="header"></div>
  <div id="sidebar" class="sidebar">
    <img src="../assets/chess/unknown__1_-removebg-preview.png" class="img" alt="" />
    <ul>
      <li>
        <a href="#"><i class="Icon fi fi-sr-chess-rook-alt fa-fw mr-3"></i>
          <p>play</p>
        </a>
      </li>
      <li>
        <a href="#"><i class="Icon fi fi-ss-puzzle-piece fa-fw mr-3"></i>
          <p>Puzzles</p>
        </a>
      </li>
      <li>
        <a href="#"><i class="Icon fi fi-sr-graduation-cap fa-fw mr-3"></i>
          <p>Learn</p>
        </a>
      </li>
      <li>
        <a href="#"><i class="Icon fi fi-sr-eye fa-fw mr-3"></i>
          <p>Watch</p>
        </a>
      </li>
      <li>
        <a href="#"><i class="Icon fi fi-rr-ballot fa-fw mr-3"></i>
          <p>News</p>
        </a>
      </li>
      <li>
        <a href="#"><i class="Icon fi fi-ss-users fa-fw mr-3"></i>
          <p>Social</p>
        </a>
      </li>
      <li>
        <a href="#"><i class="Icon fi fi-ss-menu-dots fa-fw mr-3"></i>
          <p>More</p>
        </a>
      </li>
    </ul>
  </div>
  <div id="main">Content</div>
</div> -->
